
<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.posts or site.projects limit:include.limit %}
              <a href="{{  project.url | prepend: site.baseurl }}" data-animate="fadeInUp">
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ project.img }}" style="width:450px;height:300px;object-fit:cover;" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
              </a>
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->

<!--<div class="button-group filter-button-group">
	{% for category in site.categories %}
		<a class="button" data-filter=".{{ category | first }}">{{ category | first }}</a>
	{% endfor %}
		<a class="button active" data-filter="*">All</a>
</div> -->

	<!--<div class="navbar-collapse collapse navbar-left">
	<div class="button-group filter-button-group">
      <ul class="nav navbar-nav">
	  	<li><a class="button active" data-filter="*">All</a></li>
	  	{% for category in site.categories %}
	  	<li><a class="button" data-filter=".{{ category | first }}">{{ category | first }}</a></li>
		{% endfor %}
      </ul>
	</div>
    </div><!--/.nav-collapse -->

<!--<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
		<div class="grid">
		<!--{% assign sorted-posts = site.posts | where: "categories","Art" %}-->
            <!--{% for post in site.posts limit:include.limit %}
			<div class="element-item {{ post.categories | first }}">
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}" alt="" style="object-fit:cover ;height:300px; width:450px;">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ post.title }}</h3>
                                <a data-rel="prettyPhoto" href="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="{{  post.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        <!--</div><!-- he view -->
                    <!--</div><!-- he wrap -->
                <!--</div><!-- end col-12 -->
				<!--</div>
            {% endfor %}
			</div>
        </div><!-- portfolio -->
    <!--</div><!-- portfolio container -->
<!--</div><!--/Portfoliowrap -->


<!--<script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

<script>
// init Isotope
var $grid = $('.grid').isotope({

  // options
});
// filter items on button click
$('.filter-button-group').on( 'click', 'a', function() {
  var filterValue = $(this).attr('data-filter');
  $grid.isotope({ filter: filterValue });
});
$('.button-group a.button').on('click', function(){
	$('.button-group a.button').removeClass('active');
	$(this).addClass('active');
});
</script>

<style type="text/css">
	a.button.active {
		background: #F76B48;
		border: 1px solid #F76B48;
		color: #fff;
	}
</style>
